@layer components {
  .field {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25rem;
    width: 100%;
    max-width: 20rem;
  }

  .field-label {
    display: block;
    color: var(--gray-900);
    font-size: var(--text-sm);
    margin-bottom: var(--spacing);
    font-weight: 500;
    -webkit-user-select: none;
    user-select: none;
  }
}
