.mobile-bottom-bar {
  position: relative;
  background: linear-gradient(to top, var(--background), var(--gray-100) 50%, var(--background));
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  border-radius: var(--radius-button);
  overflow: clip;
  border: 1px solid var(--border-75);
  height: 100%;
  padding: 4px;
  filter: drop-shadow(0px 1px 2px #00000010);
  gap: 4px;

  @media (prefers-color-scheme: dark) {
    background: color-mix(in oklch, var(--gray-50) 88%, transparent);
    backdrop-filter: blur(5px);
    border: none;
    filter: none;
    box-shadow: 0px 0px 3px 1px #000000 inset;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      padding: 2px;
      background: linear-gradient(to top, #4040402b 10%, transparent);
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      pointer-events: none;
      box-shadow: 0px 0px 0px 0.5px #3e3e3e24 inset;
    }
  }
}

.bottom-bar-item {
  position: relative;
  color: var(--gray-1000);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* NOTE: this has to be pixel-perfect, otherwise the non-pill corners calculate wrong radius, possibly due to box-shadow */
  --pill: 22px;
  border-radius: var(--radius-lg);
  transition: color 0.1s ease-out;

  :where(svg) {
    height: 1.5rem;
    width: 1.5rem;
    z-index: 1;
    transform: scale(0.92);
    transition: transform 0.2s ease-out;
  }

  &:is(
      [data-active]:not([aria-disabled="true"]),
      :focus-visible,
      :active:not([aria-disabled="true"])
    )
    svg {
    transform: scale(1);
  }

  &::before {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: inherit;
    z-index: 0;
    transition:
      transform 0.2s ease-out,
      opacity 0.1s ease-out;
    opacity: 0;
    transform: scale(0.72);

    background: var(--gray-200);
    box-shadow: 0px 0px 3px 1px #2c2c2c1a inset;

    @media (prefers-color-scheme: dark) {
      background: color-mix(in oklch, var(--gray-100) 40%, transparent);
      box-shadow:
        0px 0px 3px 1px #000000 inset,
        0px 4px 40px 1px #d1d1d11a;
    }
  }

  &:is(
      [data-active]:not([aria-disabled="true"]),
      :focus-visible:not([aria-disabled="true"])
    )::before {
    opacity: 1;
    transform: scale(1);

    @starting-style {
      transform: scale(0.72);
      opacity: 0.7;
    }
  }

  &:active:not([aria-disabled="true"])::before,
  &:active:not([aria-disabled="true"]) svg {
    transform: scale(1.05);
  }

  &[aria-disabled="true"] {
    cursor: not-allowed;
    color: var(--gray-400);

    @media (prefers-color-scheme: dark) {
      color: var(--gray-100);

      &:focus-visible {
        color: var(--gray-200);
      }
    }
  }

  &:first-child {
    border-radius: var(--pill) var(--radius-lg) var(--radius-lg) var(--pill);
    &::before {
      border-radius: var(--pill) var(--radius-lg) var(--radius-lg) var(--pill);
    }
    svg {
      margin-inline: 2px -2px;
    }
  }

  &:last-child {
    border-radius: var(--radius-lg) var(--pill) var(--pill) var(--radius-lg);
    &::before {
      border-radius: var(--radius-lg) var(--pill) var(--pill) var(--radius-lg);
    }
    svg {
      margin-inline: -2px 2px;
    }
  }

  &:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }
}

.mobile-bottom-bar-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 1fr auto;
  margin: 0 var(--spacing-2) 4px;
  gap: 0;
  height: var(--bottom-bar-height, 56px);
}

/* TODO: delete this */
.mobile-action-btn-slot {
  justify-self: end;
  display: grid;
  height: inherit;
  aspect-ratio: 1;
  margin-inline-start: var(--spacing-2);

  > * {
    grid-area: 1 / 1;
  }
}

/* TODO: delete these */
.mobile-delete-btn,
.mobile-fullscreen-btn {
  --in-dur: 150ms;
  --out-dur: 120ms;
  --start-scale: 0.92;

  opacity: 1;
  scale: 1;
  /*width: 100%;*/
  height: inherit;
  filter: drop-shadow(0px 1px 2px #00000010);
  border-color: var(--border-75);

  transition:
    --destructive-btn-gradient-to 0.15s ease-out,
    opacity var(--in-dur) ease-out,
    scale var(--in-dur) ease-out,
    display var(--in-dur) ease-out allow-discrete;

  @starting-style {
    opacity: 0;
    scale: var(--start-scale);
  }

  &[hidden] {
    display: none;
    opacity: 0;
    scale: var(--start-scale);

    transition:
      --destructive-btn-gradient-to 0.15s ease-out,
      opacity var(--out-dur) ease-out,
      scale var(--out-dur) ease-out,
      display var(--out-dur) ease-out allow-discrete;
  }

  @media (prefers-reduced-motion: reduce) {
    --in-dur: 0ms;
    --out-dur: 0ms;
  }

  @media (prefers-color-scheme: dark) {
    box-shadow: none;
  }
}
