@layer components {
  .modal-backdrop,
  .modal-viewport {
    position: fixed;
    inset: 0;
  }

  .modal-backdrop {
    --duration: 100ms;

    z-index: 99998;
    background: oklch(0% 0 0 / 0.1);
    opacity: 1;
    transition: opacity var(--duration) ease-out;

    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
    }
  }

  .modal-viewport {
    z-index: 99999;
    display: grid;
    place-items: center;
    pointer-events: none;
  }

  .modal {
    position: relative;
    margin: 0;
    padding: 0;
    pointer-events: auto;
  }

  .modal:focus-visible {
    outline: none;
  }

  .modal > * {
    -webkit-user-select: none;
    user-select: auto;
  }
}
