@layer utilities {
  .text-xs {
    font-size: var(--text-xs);
  }
  .no-wrap {
    white-space: nowrap;
    text-wrap: nowrap;
  }
  .pb-1 {
    padding-bottom: var(--spacing);
  }
  .hint-text {
    color: var(--gray-900);
    font-size: var(--text-xs);
  }
}
