@layer components {
  .toast_viewport {
    position: fixed;
    z-index: 1;
    width: clamp(250px, 100%, calc(100vw - var(--spacing-3)));
    padding: var(--spacing);
    bottom: calc(env(safe-area-inset-bottom, 0) + 1rem);
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    right: auto;

    @media (min-width: 500px) {
      bottom: 2rem;
      width: 360px;
    }

    &[data-position="top-center"] {
      top: calc(env(safe-area-inset-top, 0) + 1rem);
      bottom: auto;

      @media (min-width: 500px) {
        top: 2rem;
      }
    }
  }

  .toast_root {
    --gap: 0.75rem;
    --peek: 0.75rem;
    --scale: calc(max(0, 1 - (var(--toast-index) * 0.1)));
    --shrink: calc(1 - var(--scale));
    --height: var(--toast-frontmost-height, var(--toast-height));
    --offset-y: calc(
      var(--toast-offset-y) * -1 + (var(--toast-index) * var(--gap) * -1) +
        var(--toast-swipe-movement-y)
    );
    position: absolute;
    right: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background: var(--floating-background);
    color: var(--gray-1200);
    border: 0.5px solid var(--gray-100);
    padding: var(--spacing-3);
    backdrop-filter: var(--floating-backdrop);
    width: 100%;
    box-shadow: 0 2px 14px rgb(0 0 0 / 0.1);
    background-clip: padding-box;
    border-radius: var(--radius-xl);
    transform-origin: bottom center;
    bottom: 0;
    left: auto;
    margin-right: 0;
    -webkit-user-select: none;
    user-select: none;
    transition:
      transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
      opacity 0.5s,
      height 0.15s;
    cursor: default;
    z-index: calc(1000 - var(--toast-index));
    height: var(--height);
    min-height: 66px;
    transform: translateX(var(--toast-swipe-movement-x))
      translateY(
        calc(
          var(--toast-swipe-movement-y) - (var(--toast-index) * var(--peek)) -
            (var(--shrink) * var(--height))
        )
      )
      scale(var(--scale));

    &[data-expanded] {
      transform: translateX(var(--toast-swipe-movement-x)) translateY(var(--offset-y));
      height: var(--toast-height);
    }

    &[data-starting-style],
    &[data-ending-style] {
      transform: translateY(150%);
    }

    &[data-limited] {
      opacity: 0;
    }

    &[data-ending-style] {
      opacity: 0;

      &[data-swipe-direction="up"] {
        transform: translateY(calc(var(--toast-swipe-movement-y) - 150%));
      }
      &[data-swipe-direction="left"] {
        transform: translateX(calc(var(--toast-swipe-movement-x) - 150%))
          translateY(var(--offset-y));
      }
      &[data-swipe-direction="right"] {
        transform: translateX(calc(var(--toast-swipe-movement-x) + 150%))
          translateY(var(--offset-y));
      }
      &[data-swipe-direction="down"] {
        transform: translateY(calc(var(--toast-swipe-movement-y) + 150%));
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      height: calc(var(--gap) + 1px);
    }

    &[data-type="destructive"] {
      border-color: light-dark(var(--red-1600), var(--red-300));
      background: oklch(from var(--red) calc(l / 10) c h / 0.86);
      color: light-dark(var(--red-100), var(--red-1600));

      :where(.toast_close:hover) {
        background: var(--destructive-500);
      }
    }

    &[data-position="top-center"] {
      --offset-y: calc(
        var(--toast-offset-y) + (var(--toast-index) * var(--gap)) + var(--toast-swipe-movement-y)
      );
      transform-origin: top center;
      top: 0;
      bottom: auto;
      transform: translateX(var(--toast-swipe-movement-x))
        translateY(
          calc(
            var(--toast-swipe-movement-y) + (var(--toast-index) * var(--peek)) +
              (var(--shrink) * var(--height))
          )
        )
        scale(var(--scale));

      &[data-expanded] {
        transform: translateX(var(--toast-swipe-movement-x)) translateY(var(--offset-y));
        height: var(--toast-height);
      }

      &[data-starting-style],
      &[data-ending-style] {
        transform: translateY(-150%);
      }

      &[data-ending-style] {
        opacity: 0;

        &[data-swipe-direction="up"] {
          transform: translateY(calc(var(--toast-swipe-movement-y) - 150%));
        }
        &[data-swipe-direction="left"] {
          transform: translateX(calc(var(--toast-swipe-movement-x) - 150%))
            translateY(var(--offset-y));
        }
        &[data-swipe-direction="right"] {
          transform: translateX(calc(var(--toast-swipe-movement-x) + 150%))
            translateY(var(--offset-y));
        }
        &[data-swipe-direction="down"] {
          transform: translateY(calc(var(--toast-swipe-movement-y) + 150%));
        }
      }

      &::after {
        top: auto;
        bottom: 100%;
      }
    }
  }

  .toast_content {
    overflow: hidden;
    transition: opacity 0.25s;

    &[data-behind] {
      opacity: 0;
    }

    &[data-expanded] {
      opacity: 1;
    }
  }

  .toast_title {
    font-weight: 500;
    font-size: 0.975rem;
    line-height: 1.25rem;
    margin: 0;
  }

  .toast_description {
    font-size: 0.925rem;
    line-height: 1.25rem;
    margin: 0;
  }

  .toast_close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0;
    border: none;
    background: transparent;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    cursor: pointer;
    color: inherit;

    &:where(:hover) {
      background-color: var(--gray-100);
    }
  }
}
