@layer about {
  @property --fade-top {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
  }

  @property --fade-bottom {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
  }

  .about {
    --fade-top: 0px;
    --fade-bottom: 50px;
    --mask: linear-gradient(
      to bottom,
      rgb(0 0 0 / 0) 0px,
      rgb(0 0 0 / 0.33) calc(var(--fade-top) * 0.125),
      rgb(0 0 0 / 0.578) calc(var(--fade-top) * 0.25),
      rgb(0 0 0 / 0.753) calc(var(--fade-top) * 0.375),
      rgb(0 0 0 / 0.875) calc(var(--fade-top) * 0.5),
      rgb(0 0 0 / 0.95) calc(var(--fade-top) * 0.625),
      rgb(0 0 0 / 0.984) calc(var(--fade-top) * 0.75),
      rgb(0 0 0 / 0.998) calc(var(--fade-top) * 0.875),
      rgb(0 0 0 / 1) var(--fade-top),
      rgb(0 0 0 / 1) calc(100% - var(--fade-bottom)),
      rgb(0 0 0 / 0.998) calc(100% - var(--fade-bottom) * 0.875),
      rgb(0 0 0 / 0.984) calc(100% - var(--fade-bottom) * 0.75),
      rgb(0 0 0 / 0.95) calc(100% - var(--fade-bottom) * 0.625),
      rgb(0 0 0 / 0.875) calc(100% - var(--fade-bottom) * 0.5),
      rgb(0 0 0 / 0.753) calc(100% - var(--fade-bottom) * 0.375),
      rgb(0 0 0 / 0.578) calc(100% - var(--fade-bottom) * 0.25),
      rgb(0 0 0 / 0.33) calc(100% - var(--fade-bottom) * 0.125),
      rgb(0 0 0 / 0) 100%
    );

    display: flex;
    min-width: 0;
    position: relative;
    flex: 1;

    :where(h1) {
      font-size: var(--text-xl);
      margin-bottom: var(--spacing-2);
      font-weight: 500;
    }

    :where(h2) {
      font-size: var(--text-lg);
      margin-top: var(--spacing-4);
      margin-bottom: var(--spacing-2);
      font-weight: 500;
    }

    :where(h3) {
      font-size: var(--text);
      margin-top: var(--spacing-4);
      margin-bottom: var(--spacing-2);
      font-weight: 600;
    }

    :where(ul) {
      color: var(--text-secondary);
      padding-left: var(--spacing-4);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-1);
    }

    :where(img) {
      border-radius: var(--radius-lg);
      margin: var(--spacing-5) 0 var(--spacing);
      height: 180px;
      min-height: 180px;
      object-fit: cover;
    }

    :where(.fullsize) {
      width: 100%;
      height: auto;
      min-height: 180px;
    }

    :where(footer) {
      margin-top: auto;
    }
  }

  .about-section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border);

    @media (min-width: 767px) {
      border-bottom: none;
      overflow-y: auto;
      width: 100%;
    }
  }

  .about__effects {
    display: grid;
    gap: var(--spacing-2);

    :where(div) {
      display: grid;
      grid-template-columns: subgrid;
      gap: var(--spacing-3);
      grid-column: span 2;
      align-items: baseline;
    }

    :where(dt) {
      min-width: 5rem;
      color: var(--gray-1100);
    }
    :where(dd) {
      text-wrap: pretty;
    }
  }

  .about-section {
    border-bottom: none;
  }

  .update {
    content-visibility: auto;
    contain-intrinsic-size: auto 500px;

    :where(video) {
      border-radius: var(--radius-lg);
    }
  }

  .updates-title {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: baseline;

    :where(.date) {
      font-size: var(--text-sm);
      color: var(--gray-900);
    }
  }

  .update figcaption {
    font-size: var(--text-sm);
    color: var(--gray-900);
  }

  @keyframes section-blur {
    0%,
    100% {
      filter: blur(12px);
      opacity: 0.05;
      transform: scale(0.96);
    }
    48%,
    56% {
      filter: blur(0px);
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes scroll-fade {
    0% {
      --fade-top: 0px;
      --fade-bottom: 50px;
    }
    10% {
      --fade-top: 50px;
      --fade-bottom: 50px;
    }
    90% {
      --fade-top: 50px;
      --fade-bottom: 50px;
    }
    100% {
      --fade-top: 50px;
      --fade-bottom: 0px;
    }
  }
}
